<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="nav">
        <search-form></search-form>
        <button class="cart-button" type="button" v-on:click="VisibleCart">Корзина</button>
        <button class="goods-button" type="button" v-on:click="">Каталог</button>
    </div>

    <div id="catalog">
        <goods-list :goods="filteredGoods" v-if="isVisibleCatalog"></goods-list>
    </div>

    <div id="cart">
        <cart-list :cart-list="cartArr" v-if="isVisibleCart"></cart-list>
        <!-- <p v-if='!cartArr.length'>Ваша корзина пуста</p> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script_2.js"></script>
</body>

</html>