<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <form action="" id="search_form" @submit="FilterGoods" method="post" novalidate="true">
            <input type="text" class="goods_search" id="search_line" v-model='searchLine' search='search' value=''>
            <input type="submit" value="Искать">
        </form>
        <button class="cart-button" type="button" v-on:click="VisibleCart">Корзина</button>
    </header>
    <div id="app">
        <main>
            <div class="goods-list" v-if='isVisibleCatalog'>
                <p v-if='!goods.length'>Нет данных</p>
                <div class="goods-item" v-for="goods_item in goods">
                    <h3 class="title">{{ goods_item.product_name }}</h3>
                    <p class="price">{{ goods_item.price }}</p>

                </div>
            </div>
        </main>

        <div class="cart-list" v-if='isVisibleCart'>
            <p v-if='!cart.length'>Ваша корзина пуста</p>
            <div class="item cart-item">

                <div class="title"></div>
                <div class="price"></div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script_2.js"></script>
</body>

</html>